<header>
  <mat-toolbar color="primary">

    <button mat-icon-button (click)="sidenavService.toggle()"><mat-icon>menu</mat-icon></button>

<!--    <button mat-button routerLink="/explore">UTChange</button>-->
    <span class="topbar-spacer"></span>

<!--    <div *ngIf="userService.isLoggedIn()">-->
<!--      <button mat-button routerLink="/user">Mon Compte</button>-->
<!--    </div>-->

    <div *ngIf="userService.isLoggedOut()">
      <button mat-button routerLink="/register">Rejoindre</button>
    </div>

    <app-login></app-login>

<!--    <a mat-button href="https://monnaie-libre.fr/">Décourvir</a>-->
  </mat-toolbar>
</header>
