/*.center-content {*/
/*  position: absolute;*/
/*  top: 50%;*/
/*  left: 50%;*/
/*  margin-right: -50%;*/
/*  transform: translate(-50%, -50%);*/
/*}*/

/*.right-content {*/
/*  position: absolute;*/
/*  right: 5%;*/
/*}*/

.secret-link {
  color: inherit;
}

.footer-content{
  display: flex;
  justify-content: right;
}
