<footer>
  <mat-toolbar color="primary" style="display: flex; justify-content: space-between;">

    <div style="visibility: hidden">
      <p class="mat-caption">v0 preview</p>
    </div>

    <div>
      <p class="mat-caption">Made with
        <a class="secret-link" href="https://www.youtube.com/watch?v=ss7rLjGAlQE">
          <mat-icon>favorite</mat-icon>
        </a>
        at the UTC
      </p>
    </div>

    <div>
      <p class="mat-caption">v0.1</p>
    </div>


  </mat-toolbar>
</footer>
