
<mat-sidenav-container autosize>
  <mat-sidenav #sidenav [mode]="mobileQuery.matches ? 'over' : 'side'"
               fixedInViewport="true" [fixedTopGap]="mobileQuery.matches ? 56 : 64">

    <mat-toolbar>
      <mat-toolbar-row>
        <h2 class="toolbar-title">UTChange</h2>

      </mat-toolbar-row>
    </mat-toolbar>

    <mat-nav-list>

      <ng-container>
        <h2 matSubheader>Navigation</h2>
        <a mat-list-item routerLink="/explore" routerLinkActive="list-item-active">
          explorer
        </a>
        <mat-divider></mat-divider>

        <div *ngIf="userService.isLoggedIn()">
          <a mat-list-item routerLink="/purchase" routerLinkActive="list-item-active">
            Mes Ventes
          </a>
          <mat-divider></mat-divider>
        </div>

      </ng-container>

      <ng-container *ngIf="userService.isLoggedIn()">
        <h2 matSubheader>Mon Compte</h2>

        <a mat-list-item routerLink="/user" routerLinkActive="list-item-active">
          Modifier mes informations
        </a>
        <mat-divider></mat-divider>
      </ng-container>

      <ng-container>
        <h2 matSubheader>Aller plus loin</h2>

        <a mat-list-item routerLinkActive="list-item-active"
           href="https://monnaie-libre.fr/">
          Découvrir la monnais-libre
        </a>
        <mat-divider></mat-divider>
      </ng-container>

    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <div class="app-wrapper">


      <router-outlet></router-outlet>


    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

