<mat-list>

  <div style="display: flex; justify-content: center">
    <h3 mat-subheader>Mes Ventes</h3>
  </div>

  <div *ngFor="let purchase of purchaseService.purchases"
       style="display: flex; flex-direction: column; justify-content: center">

    <div style="display: flex; justify-content: center">

      <mat-card style="margin: 1rem; width: 100%; max-width: 1000px">
        <mat-card-header style="display: flex; justify-content: center">
          <mat-card-title>{{purchase.article.name}}</mat-card-title>
          <mat-card-subtitle>{{purchase.purchaseAt | date:'medium'}}</mat-card-subtitle>
        </mat-card-header>

        <mat-divider></mat-divider>


        <mat-card-content style="margin-top: 0.25rem; display: flex; justify-content: space-between">

          <div>{{purchase.buyer.pseudo}}
            <span style="font-size: 0.75rem">({{purchase.buyer.publicKey}})</span>
          </div>

          <div  style="margin-top: 0.25rem; font-weight: bold">{{purchase.article.price}} Ğ</div>

        </mat-card-content>

      </mat-card>

    </div>


  </div>

</mat-list>

<div class="centered-button"[hidden]="!purchaseService.isMoreToShow">
  <button mat-button color="accent"
          (click)="getNextPurchases()">
    Show more
  </button>
</div>
