
<mat-toolbar class="articles-toolbar">
  <mat-toolbar-row>
    <span>A venir</span>

    <span class="spacer"></span>

    <button mat-mini-fab (click)="refresh()" color="primary">
      <mat-icon>refresh</mat-icon>
    </button>

  </mat-toolbar-row>
</mat-toolbar>
