.articles-toolbar {
  margin-bottom: 1rem;
  border-radius: 2rem;
}

.spacer {
  flex: 1 1 auto;
}

.box{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius: 8px;

  margin-bottom: 1rem;
}
