<div *ngIf="userService.isLoggedIn()">
  <button mat-button (click)="logout()">Se déconnecter</button>
</div>
<div *ngIf="userService.isLoggedOut()">
  <button mat-button (click)="openDialog()">S'identifier</button>
</div>
