<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Pseudo</mat-label>
    <input matInput [(ngModel)]="data.pseudo">
  </mat-form-field>
</div>

<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Mot de passe</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="data.password">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
</div>

<div mat-dialog-actions class="dialog-center">
  <button mat-raised-button color="primary"
          [mat-dialog-close]="{pseudo: data.pseudo, password: data.password}" cdkFocusInitial>
    Login
  </button>
</div>
