<div mat-dialog-content>
  <mat-form-field class="full-size-form">
    <mat-label>Message</mat-label>
    <textarea matInput #message [(ngModel)]="data.message"
              maxlength="1024"
              rows="5"></textarea>
    <mat-hint align="end">{{message.value.length}} / 1024</mat-hint>
  </mat-form-field>
</div>

<div mat-dialog-actions class="dialog-center">
  <button mat-raised-button color="accent"
          [mat-dialog-close]="data"
          cdkFocusInitial>
    Envoyer
  </button>
</div>
