<div mat-dialog-content>
  <mat-form-field class="full-size-form">
    <mat-label>Nom de l'article</mat-label>
    <input matInput [(ngModel)]="data.name">
  </mat-form-field>
</div>

<div mat-dialog-content>
  <mat-form-field class="full-size-form">
    <mat-label>Prix</mat-label>
    <input matInput type="number" [(ngModel)]="data.price">
    <span matPrefix>Ğ&nbsp;</span>
  </mat-form-field>
</div>

<div mat-dialog-content>
  <mat-form-field class="full-size-form">
    <mat-label>Description</mat-label>
    <textarea matInput #message [(ngModel)]="data.description" maxlength="512"></textarea>
    <mat-hint align="end">{{message.value.length}} / 512</mat-hint>
  </mat-form-field>
</div>

<div style="display: flex">
  <button mat-raised-button (click)="imgFileInput.click()" class="image-button">Image</button>
  <input matInput disabled [placeholder]="data.image ? data.image.name : 'pas d\'image'">
  <input #imgFileInput hidden type="file" (change)="onFileSelected($event)"/>
</div>

<div mat-dialog-actions class="dialog-center">
  <button mat-raised-button color="accent"
          [mat-dialog-close]="data"
          cdkFocusInitial>
    Ajouter
  </button>
</div>


