.dialog-center {
  justify-content: center;
}

.centered-button {
  margin-bottom: 1rem;
  text-align: center;
}

.centered-button button {
  border-radius: 2rem;
}

.image-button {
  margin-right: 1rem;
}

.full-size-form {
  width: 100%;
}
