mat-card {
  max-width: 400px;
}

mat-card-header {
  display: flex;
  justify-content: center;
}

mat-card-actions {
  display: flex;
  justify-content: center;
}

.userInfo {
  margin: 1rem;
  display: flex;
  justify-content: center;
}


