
<div class="userInfo">

  <mat-card>

    <mat-card-header>
      <mat-card-title>Modifier ses informations</mat-card-title>
    </mat-card-header>

    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">

      <mat-card-content>

        <mat-form-field>
          <mat-label>Pseudo</mat-label>
          <input  matInput type="text" formControlName="pseudo">
          <mat-error *ngIf="f.pseudo.errors && !f.pseudo.errors.required">Le pseudo est déjà pris</mat-error>
          <mat-error *ngIf="f.pseudo.errors && f.pseudo.errors.required">obligatoire</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Email</mat-label>
          <input  matInput type="email" formControlName="email">
          <mat-error *ngIf="f.email.errors && !f.email.errors.required && !f.email.errors.email">
            l'adresse email est déjà prise
          </mat-error>
          <mat-error *ngIf="f.email.errors && !f.email.errors.required && f.email.errors.email">
            l'adresse email n'est pas valide
          </mat-error>
          <mat-error *ngIf="f.email.errors && f.email.errors.required">obligatoire</mat-error>
        </mat-form-field>

        <mat-form-field style="width: 100%">
          <mat-label>Clè Publique</mat-label>
          <input  matInput type="text" formControlName="publicKey">
        </mat-form-field>

      </mat-card-content>

      <mat-card-actions>
        <button type="submit" hidden="hidden"></button>
        <button mat-raised-button color="warn" type="submit" [disabled]="!validForm()">Modifier</button>
      </mat-card-actions>

    </form>

  </mat-card>

</div>
