

.fixed-top {
  position:sticky;
  top: 0;
  z-index: 2;
}

.fixed-bottom {
  z-index: 3;
}

/*.fixed-bottom {*/
/*  position: sticky;*/
/*  bottom: 0;*/
/*  width: 100%;*/
/*}*/

/*.fixed-bottom{*/
/*  position:fixed;*/
/*  bottom:0;*/
/*  left:0;*/
/*  width: 100%;*/
/*}*/
