
<div style="display: flex; flex-direction: column; justify-content: space-between; height: 100%">

  <div style="display: flex; flex-direction: column">
    <app-header class="fixed-top"></app-header>

    <app-sidnav></app-sidnav>
  </div>

  <app-footer class="fixed-bottom"></app-footer>

</div>



