.spacer {
  flex: 1 1 auto;
}

.name {
  font-size: 1.5rem;
}

.price {
  font-size: 1.5rem;
  margin-right: 10%;
}

.list-articles {
  margin-bottom: 1rem;
}

.centered-button {
  text-align: center;
}

.centered-button button {
  border-radius: 2rem;
}

img {
  margin: 0.25rem;
  border-radius: 1rem;
  border: lightgray solid;
  width: 7.5rem;
}

.name {
  color: #3f51b5;
}

.header {
  margin: 0.5rem 0.5rem 0.25rem;
}

.description {
  white-space: pre;
  margin-top: 0.25rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

@media screen and (max-width: 600px){
  .name {
    font-size: 1rem ;
  }
  .price {
    font-size: 1rem;
  }
}
