<div class="list-articles">
  <mat-accordion multi>

    <div style="display: flex; justify-content: center">
    <div style="width: 100%; max-width: 1500px">

    <mat-expansion-panel *ngFor="let article of articleService.articles">


        <mat-expansion-panel-header
          collapsedHeight="100%"
          expandedHeight="100%"
          >

          <div  style=" width: 100%; display: flex">

            <div>
              <img src="{{article.getSrc()}}">
            </div>

            <div style="display: flex; flex-direction: column; height: 100%; width: 100%">

              <div class="header">
                <span class="name">{{article.name}}</span>
              </div>


              <div style="margin: auto 0.5rem;" >
                <span class="price">{{article.price}} Ğ</span>
              </div>

            </div>

          </div>

        </mat-expansion-panel-header>

        <div style="display: flex; flex-direction: column">
          <div style="width: 100%; display: flex; flex-direction: column; justify-content: space-between">

            <div style="display: flex; flex-direction: column">
              <div class="description">{{article.description}}</div>

              <span style="margin-top: 0.25rem; font-weight: lighter; font-style: italic">
                (Vendu par {{article.authorPseudo}})
              </span>
            </div>

            <div style="display: flex; justify-content: flex-end">
                <div *ngIf="userService.isLoggedIn() && !isEditable(article.authorPseudo)">
                  <button style="border-radius: 2rem" mat-raised-button color="warn"
                          (click)="purchase(article)">
                      <mat-icon>add_shopping_cart</mat-icon>
                  </button>
                </div>

                <div *ngIf="isEditable(article.authorPseudo)"
                   style="display: flex; flex-direction: column; justify-content: flex-end">
                  <button mat-icon-button (click)="delete(article.id)" >
                      <mat-icon>delete_forever</mat-icon>
                  </button>
                </div>
            </div>

          </div>

          <div *ngIf="userService.isLoggedIn() && !isEditable(article.authorPseudo)" style="display: flex; justify-content: center">
            <app-mail-sender articleId="{{article.id}}"></app-mail-sender>
          </div>
        </div>



    </mat-expansion-panel>

    </div>
    </div>

  </mat-accordion>
</div>

<div class="centered-button" [hidden]="!articleService.isMoreToShow">
  <button mat-button color="accent"
          (click)="getNextArticles()">
    Show more
  </button>
</div>
