<div class="registerCard">
  <mat-card>

    <mat-card-header>
      <mat-card-title>Rejoindre UTChange</mat-card-title>
    </mat-card-header>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <mat-card-content>

        <mat-form-field class="full-width">
          <mat-label>Pseudo</mat-label>
          <input  matInput type="text" placeholder="Prénom"  formControlName="pseudo">
          <mat-error *ngIf="f.pseudo.errors && !f.pseudo.errors.required">Le pseudo est déjà pris</mat-error>
          <mat-error *ngIf="f.pseudo.errors && f.pseudo.errors.required">obligatoire</mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Email</mat-label>
          <input  matInput  placeholder="Email" formControlName="email">
          <mat-error *ngIf="f.email.errors && !f.email.errors.required && !f.email.errors.email">
            l'adresse email est déjà prise
          </mat-error>
          <mat-error *ngIf="f.email.errors && !f.email.errors.required && f.email.errors.email">
            l'adresse email n'est pas valide
          </mat-error>
          <mat-error *ngIf="f.email.errors && f.email.errors.required">obligatoire</mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Mot de passe</mat-label>
          <input  matInput [type]="hidePassword ? 'password' : 'text'" placeholder="Mot de passe"
                  formControlName="password">
          <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
                  [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="f.password.errors && !f.password.errors.required">
            Le mot de passe doit contenir au moins {{minPW}} caractères
          </mat-error>
          <mat-error *ngIf="f.password.errors && f.password.errors.required">obligatoire</mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Confimer le mot de passe</mat-label>
          <input  matInput [type]="hideConfirmPassword ? 'password' : 'text'" placeholder="Comfirmer le mot de passe"
                  formControlName="confirmPassword">
          <button type="button" mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword"
                  [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPassword">
            <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>

      </mat-card-content>

      <mat-card-actions>
        <button type="submit" hidden="hidden"></button>
        <button mat-raised-button color="warn" type="submit" [disabled]="!registerForm.valid">Rejoindre</button>
      </mat-card-actions>

    </form>

  </mat-card>
</div>
