/*.my-form{*/
/*  min-width: 150px;*/
/*  max-width: 500px;*/
/*  width: 100%;*/
/*}*/

/*.mat-form-field {*/
/*  width: 100%;*/
/*}*/

.registerCard {
  margin: 1rem;
  display: flex;
  justify-content: center;
}

mat-card-actions {
  display: flex;
  justify-content: center;
}

mat-card {
  max-width: 400px;
}

mat-card-header {
  display: flex;
  justify-content: center;
}
